In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
def ProPublica_API_access (query_string, ntee_code):
    """
    This function retrieves organizations from the ProPublica API matching a given query string, i.e. 'opera', 'symphony', etc.
    
    Args:
    query_string (str): A query string for the name of the organization.
    
    Returns:
    A Pandas dataframe 
    """
    
    url = 'https://projects.propublica.org/nonprofits/api/v2/search.json?q='+query_string
    organizations = []
    for x in range(11):
        params = dict(q=query_string, page=x)
        request = requests.get(url, params=params)
        json = request.json()
        json.pop('total_results')
        page_of_orgs = json.pop('organizations')
        organizations.append(page_of_orgs)
    global df
    df = pd.DataFrame()
    for x in range(len(organizations)):
        for y in range(len(organizations[x])):
            org = organizations[x][y]
            df = df.append(org,ignore_index=True)
    #This step will fix typos in the 'ntee_code' column#
    df['ntee_code'].fillna(ntee_code,inplace=True)
    df[df['ntee_code'].str.contains(ntee_code)]
    #This step sets the organization's EIN as the index#
    df['ein'] = df['ein'].astype('int')
    df = df.set_index('ein')
    return df.head()

In [3]:
ProPublica_API_access('opera','A6A')

,city,has_subseccd,have_extracts,have_filings,have_pdfs,name,ntee_code,raw_ntee_code,score,state,strein,sub_name,subseccd
ein,,,,,,,,,,,,,
813311094,ASTORIA,1.0,None,None,None,BARE OPERA,A6A,A6A,8022.336,NY,81-3311094,BARE OPERA,3.0
263016871,LEXINGTON,1.0,None,None,None,BLUEGRASS OPERA,A6A,A6A,8022.336,KY,26-3016871,BLUEGRASS OPERA,3.0
833139772,SUNLAND,1.0,None,None,None,MISSION OPERA,A6A,A6A,8022.336,CA,83-3139772,MISSION OPERA,3.0
462541609,BEND,1.0,None,None,None,OPERA BEND,A99,A99,8022.336,Oregon,46-2541609,OPERA BEND,3.0
840850527,ENGLEWOOD,1.0,None,None,None,OPERA COLORADO,A6A0,A6A0,8022.336,CO,84-0850527,OPERA COLORADO,3.0

In [4]:
eins = df.index.values.tolist()
eins

[813311094,
 263016871,
 833139772,
 462541609,
 840850527,
 464332937,
 453361602,
 222519789,
 800432320,
 824079263,
 237314812,
 850391704,
 821536854,
 824602315,
 910760426,
 752253647,
 364454720,
 463486730,
 814363604,
 260006536,
 953854105,
 566019660,
 432032363,
 231504706,
 133819493,
 522175213,
 20484003,
 462223000,
 930679959,
 475311222,
 471255941,
 237207572,
 454913985,
 203975320,
 10496860,
 541618192,
 952224201,
 943068290,
 726021455,
 200156714,
 824935291,
 952503791,
 954512214,
 463142361,
 50453691,
 510213334,
 571129329,
 411375724,
 680454224,
 263649993,
 756004746,
 522001426,
 471571156,
 721584393,
 222270100,
 270940187,
 920148120,
 237169261,
 832435880,
 954868027,
 262584694,
 341816013,
 811599946,
 770668548,
 463775780,
 223954352,
 475324014,
 942495701,
 990197758,
 263346265,
 261577184,
 461846033,
 833135996,
 260348842,
 821447688,
 270813566,
 382052726,
 272295236,
 621119830,
 886009267,
 942985556,
 203520577,
 300540629,
 133098404,
 460758350,
 421671038,
 270406958,
 811027258,
 475537607,
 464229833,
 237257400,
 141897871,
 204618904,
 953566332,
 821734082,
 475593869,
 822992437,
 841960658,
 730643311,
 202980771,
 811227880,
 30297488,
 562167677,
 204377736,
 842415389,
 310549044,
 201061074,
 454333621,
 474324060,
 463016862,
 262068879,
 462588285,
 273442010,
 364477750,
 465133609,
 236392136,
 362935678,
 461051323,
 462353777,
 636045261,
 202533756,
 510238088,
 760792196,
 386142941,
 271588801,
 237043885,
 310996184,
 421511984,
 261789005,
 880439165,
 261151492,
 620785544,
 161582367,
 770503778,
 421521354,
 510163755,
 320471175,
 251073139,
 942418029,
 842879548,
 275377856,
 562339957,
 911174712,
 824395014,
 454776069,
 223190959,
 133874026,
 463086770,
 942739808,
 454562793,
 810931917,
 510175124,
 920175714,
 742390496,
 453327080,
 263688025,
 473126062,
 263671215,
 812861492,
 341184816,
 823081872,
 202525282,
 831258247,
 470989874,
 461509400,
 474122815,
 843056020,
 351405179,
 43008633,
 472981461,
 814429775,
 42756974,
 841287161,
 61327606,
 516018055,
 752429448,
 452988644,
 237331238,
 481020882,
 264680752,
 244199193,
 810789763,
 463523776,
 825129721,
 821880675,
 223653314,
 751943679,
 454691402,
 320415149,
 946080390,
 742851189,
 474326369,
 680039037,
 264749958,
 943083848,
 510145980,
 453118396,
 237321514,
 364314792,
 271613939,
 202877956,
 203326828,
 201965815,
 237354963,
 832996960,
 810768479,
 270516035,
 832844620,
 844168546,
 311792599,
 472603315,
 581379465,
 61755249,
 621015262,
 205575643,
 831704818,
 274573025,
 272177651,
 833166873,
 202257757,
 813452061,
 208572361,
 204554125,
 264290942,
 237375854,
 830806386,
 812235027,
 205547075,
 454571979,
 431222808,
 251875780,
 911237511,
 133986191,
 454911472,
 251800937,
 474728172,
 204517566,
 471596750,
 815383375,
 208208151,
 452972033,
 237345966,
 310643964,
 463787023,
 943221096,
 431844714,
 203803066,
 814729519,
 943168895,
 953387074,
 391789514,
 463835176,
 946084831,
 464259742,
 453669692,
 463137490,
 943184802,
 822918825,
 274089504,
 823270620,
 455057552,
 471432459,
 590906317,
 10526734,
 471547811,
 770013155,
 474497039,
 232096792,
 476032795,
 261153602,
 262683488,
 262895694,
 453321212,
 237003934,
 592387417,
 591743689,
 465642922,
 942515886,
 822058871,
 410946789,
 346556139,
 812064343,
 470949439,
 870690856,
 455545106,
 474217066,
 454454928,
 541647973,
 521473747,
 530237707,
 226063134,
 752050292,
 821570688,
 133081486,
 311414324,
 954546193,
 43284341,
 43383875,
 112625093,
 843020830,
 472459618,
 237083993,
 421516206,
 680248859,
 650496477,
 850396524,
 596001597,
 943160783,
 990142646,
 141752524,
 820464809,
 911561466,
 471486471,
 363969493,
 452480257,
 611604759,
 392021767,
 464265972,
 371649578,
 751899729,
 813955923,
 133355065,
 471279185,
 760499709,
 455524555,
 30366317,
 421320801,
 462698269,
 842428245,
 474708316,
 821374394,
 941189846,
 811728602,
 510517111,
 208523525,
 946184451,
 820530372,
 752008823,
 742648245,
 814757626,
 463454471,
 870498252,
 870556123,
 592883286,
 475123474,
 510159481,
 680419038,
 743234710,
 161472177,
 271018576,
 831709761,
 161614177,
 510191426,
 270766423,
 363247003,
 463540951,
 814811804,
 911030929,
 237170979,
 742901653,
 831242836,
 822904336,
 271287410,
 382958683,
 510116569,
 208564019,
 134187863,
 942549968,
 465335033,
 823769448,
 920064417,
 844107371,
 320529943,
 952096402,
 452472834,
 820705051,
 364700566,
 421627336,
 770176891,
 582669393,
 386089684,
 813656705,
 43567974,
 200483601,
 311486222,
 275035675,
 204040660,
 841183179,
 311021023,
 471256596,
 203444934,
 464650075,
 956386887,
 454672574,
 133201190,
 810537901,
 61603236,
 943148046,
 810699609,
 844915966,
 133377138,
 850131810,
 813653972,
 540985006,
 311550215,
 201027001,
 237394733,
 813999563,
 30270440,
 943136172,
 421476568,
 42760401,
 271697255,
 330373199,
 256000890,
 43317911,
 237225165,
 151743608,
 680542660,
 814716749,
 391098132,
 161053970,
 43754026,
 208305412,
 956004071,
 452233382,
 202720411,
 812780178,
 431881282,
 237113188,
 591400288,
 841924286,
 371257864,
 720272897,
 751675079,
 550487115,
 421486650,
 451290987,
 581713898,
 770009773,
 820523563,
 264443585,
 742592657,
 593746494,
 251342994,
 936034321,
 260701319,
 116042723,
 930695819,
 431992518,
 421133812,
 273552381,
 680523690,
 201241410,
 203105712,
 931012145,
 237324726,
 815323057,
 834689051,
 562452786,
 586067580,
 264201545,
 264684179,
 742161743,
 710966118,
 222613294,
 223393755,
 42469627,
 203943823,
 237170675,
 463107063,
 462283415,
 141686601,
 953479539,
 160988051,
 341585872,
 593625591,
 931080886,
 465156137,
 472563335,
 133064113,
 273287114,
 471743724,
 264269498,
 464759382,
 616013111,
 271948205,
 204425634,
 366008929,
 454231295,
 382730951,
 465671164,
 392003992,
 470825124,
 581948469,
 521123246,
 832612181,
 463203280,
 223321489,
 471335789,
 510180177,
 475511655,
 26013786,
 760712866,
 202564636,
 222234087,
 474721384,
 770037266,
 474955667,
 611546074,
 822046252,
 133966800,
 205109731,
 956044429,
 946109112,
 916037578,
 376047242,
 310913307,
 815455948,
 237167068,
 264538232,
 721520777,
 391915602,
 42572761,
 611326721,
 942751127,
 900801240,
 753128447,
 843399253,
 811363586,
 391514706,
 731008734,
 50616054,
 237240169,
 141896196,
 237290034,
 942210047,
 411408912,
 450307449,
 452831814,
 43167463,
 362986253,
 770491466,
 320482871,
 481205435,
 391900890,
 61704257,
 237173902,
 815115602,
 481061493,
 112974565,
 131624087,
 131572247,
 131681983,
 571208572,
 300055116,
 464455243,
 264074037,
 841681105,
 226105769,
 473415044,
 550895590,
 841560482,
 752514812,
 271491738,
 562521625,
 474677871,
 452324535,
 953181577,
 43726160,
 591060864,
 521266995,
 832194570,
 20326588,
 812387811,
 940836240,
 770347413,
 237089047,
 264639329,
 812824520,
 581371843,
 454122494,
 364275279,
 161681342,
 364678356,
 475053972,
 481239185,
 824766507,
 411360214,
 562459978,
 237343121,
 412157734,
 232097222,
 131969314,
 731346919,
 640625779,
 462979674,
 810936220,
 116036397,
 856010749,
 832884741,
 271283809,
 351861719,
 263493573,
 800493068,
 570964360,
 510201934,
 275124838,
 201261920,
 222810265,
 911190564,
 461115114,
 311402604,
 391921910,
 591862792,
 274348359,
 475475490,
 742744864,
 271968862,
 473028129,
 911580337,
 753024257,
 421524464,
 134140107,
 750945915,
 952751619,
 341788552,
 411901385,
 760038314,
 351546777,
 810382552,
 201256082,
 811923101,
 202835365,
 132974347,
 454861394,
 800471095,
 450464803,
 911249425,
 462717193,
 953458594,
 201993530,
 161576851,
 112902590,
 770086873,
 371763981,
 237100511,
 311727690,
 150544166,
 237139766,
 450341470,
 311480824,
 131935875,
 133840596,
 942737425,
 371720207,
 232715016,
 43452027,
 810571607,
 311408989,
 233013132,
 626002098,
 42505806,
 237319903,
 261812695,
 452130830,
 382781549,
 640718647,
 746016764,
 136169149,
 272621725,
 474250076,
 832068341,
 943202214,
 455480844,
 134126544,
 352240395,
 742304402,
 956002268,
 900765071,
 841476734,
 232999416,
 203503872,
 236394242,
 800705540,
 454612906,
 521598949,
 480928462,
 132909882,
 66047512,
 352348570,
 522178081,
 461963085,
 382832282,
 260767483,
 454643540,
 46115345,
 30500788,
 471406439,
 237368877,
 770576835,
 846002285,
 811043406,
 550346301,
 376033458,
 232129649,
 952113638,
 366111142,
 843147568,
 820342398,
 132943024,
 233027385,
 943001646,
 10976983,
 560812172,
 561490512,
 272491185,
 832694467,
 821532165,
 274077801,
 880105691,
 471281768,
 942576350,
 237274684,
 831456404,
 464257008,
 912133262,
 860796225,
 416058478,
 10834859,
 136162820,
 391890961,
 946105053,
 742334932,
 680295977,
 133282274,
 822017571,
 237351668,
 141585490,
 813382318,
 833281667,
 581991030,
 264569203,
 460566560,
 591836537,
 20502848,
 464491445,
 260629356,
 271795936,
 740016764,
 912073872,
 452842862,
 411294389,
 113125583,
 20448277,
 843017601,
 680051718,
 870792632,
 10528379,
 311020676,
 391583686,
 430821958,
 770694662,
 237224835,
 66056225,
 731061825,
 824411694,
 510178682,
 112734261,
 133206807,
 20697823,
 731214668,
 237311842,
 742801838,
 204845149,
 850438831,
 956196421,
 386144993,
 421376458,
 161611144,
 431888220,
 113513563,
 272910455,
 521869819,
 272316897,
 310896403,
 237175528,
 471769160,
 366057235,
 651188405,
 463713838,
 61362686,
 760761054,
 382810839,
 261350691,
 132505803,
 133096065,
 271429523,
 136271927,
 371095989,
 330519746,
 841690164,
 320159343,
 133818345,
 640626260,
 205086861,
 954354692,
 204425925,
 550763945,
 364255580,
 10528754,
 953736299,
 943162696,
 382237064,
 316622182,
 421512453,
 112713957,
 440626124,
 201896591,
 236390902,
 833698645,
 200669641,
 866052441,
 546075660,
 461263190,
 811358185,
 752206097,
 736212218,
 391472427,
 592376906,
 161634500,
 201327526,
 113469561,
 134007378,
 465221737,
 541759573,
 261789196,
 222325828,
 953426868,
 136071129,
 861171749,
 237321992,
 203916548,
 260018625,
 237025084,
 61714846,
 133823577,
 133219847,
 61633557,
 856012246,
 341874951,
 42621713,
 60963170,
 931304008,
 411368101,
 823377744,
 237437382,
 207530206,
 470842288,
 821384455,
 30341456,
 262039839,
 113224934,
 311566849,
 311566854,
 133571240,
 381742032,
 263658231,
 133801738,
 721476675,
 311566860,
 462344098,
 113093248,
 263969962,
 363652212,
 421354260,
 426064252,
 364621785,
 680626679,
 861029738,
 43467601,
 956220739,
 461049598,
 841201337,
 823293332,
 371608158,
 311566863,
 311566868,
 822220394,
 367033135,
 416429970,
 651223761,
 411821299,
 521830370,
 843534175,
 472574201,
 586217462,
 953760983,
 522280975,
 300260223,
 134147698,
 460551184,
 362796630,
 462294622,
 251431049,
 391967766,
 20662241,
 931191876,
 611796573,
 30353647,
 133311277,
 870469002,
 911428888,
 112745438,
 474468309,
 237039510,
 586162874]

In [5]:
company_ein=[]
tax_period=[]
tot_assets=[]
tot_income=[]
tot_revenue=[]
pct_compnsatncurrofcr=[]
tax_year = []
totassetsend=[]
totliabend=[]
totfuncexpns=[]
skipped_requests=[]
for ein in eins:
    try:
        url2 = 'https://projects.propublica.org/nonprofits/api/v2/organizations/{}.json'.format(ein)
        request2 = requests.get(url2)
        json2 = request2.json()
        if len(json2['filings_with_data']) == 0:
            company_ein.append(ein)
            tax_period.append(json2['organization']['tax_period'])
            tot_assets.append(json2['organization']['asset_amount'])
            tot_income.append(json2['organization']['income_amount'])
            tot_revenue.append(json2['organization']['revenue_amount'])
            tax_year.append(np.nan)
            pct_compnsatncurrofcr.append(np.nan)
            totassetsend.append(np.nan)
            totliabend.append(np.nan)
            totfuncexpns.append(np.nan)
        else:
            for filing in range(len(json2['filings_with_data'])):
                company_ein.append(ein)
                tax_period.append(json2['organization']['tax_period'])
                tot_assets.append(json2['organization']['asset_amount'])
                tot_income.append(json2['organization']['income_amount'])
                tot_revenue.append(json2['organization']['revenue_amount'])
                tax_year.append(json2['filings_with_data'][filing]['tax_prd_yr'])
                pct_compnsatncurrofcr.append(json2['filings_with_data'][filing]['pct_compnsatncurrofcr'])
                totassetsend.append(json2['filings_with_data'][filing]['totassetsend'])
                totliabend.append(json2['filings_with_data'][filing]['totliabend'])
                totfuncexpns.append(json2['filings_with_data'][filing]['totfuncexpns'])
    except:
        skipped_requests.append(ein)
    finally:
        pass

In [6]:
df2 = pd.DataFrame(
    list(zip(company_ein, tax_period, tot_assets, tot_income, tot_revenue, pct_compnsatncurrofcr, tax_year, totassetsend, totliabend, totfuncexpns)),
    columns = ['EIN','tax_period', 'tot_assets', 'tot_income', 'tot_revenue', 'pct_compnsatncurrofcr', 'tax_year', 'totassetsend', 'totliabend', 'totfuncexpns'])
df2.head()

,EIN,tax_period,tot_assets,tot_income,tot_revenue,pct_compnsatncurrofcr,tax_year,totassetsend,totliabend,totfuncexpns
0,813311094,2019-12-01,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,263016871,2018-12-01,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,833139772,2019-12-01,1280.0,26521.0,26521.0,NaN,NaN,NaN,NaN,NaN
3,462541609,2018-12-01,12908.0,53745.0,50416.0,-0.001,2017.0,7598.0,6000.0,65239.0
4,462541609,2018-12-01,12908.0,53745.0,50416.0,-0.001,2015.0,50904.0,0.0,91185.0

In [7]:
df2.shape

(1808, 10)

In [8]:
df2.to_csv('Form 990s.csv')